html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.input-form, .input-form-textarea{
    margin: 5px;
}
.input-form-textarea {
    width: 26rem;
    }