@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="display-4">Контакти</h1>

</div>
<div class="text-left">
    <br>
    <br>
    <br>
    <h3>Свържете се с нас:</h3>
    <p>Телефон: 0876691191.</p>
    <p>Имейл: example@gmail.com.</p>
    <p>Форма за контакт:</p>
    <p>Форма за контакт - Подател</p>
    <p>Форма за контакт: - Относно</p>
    <p>Форма за контакт: - Съобщение</p>
    <p>Форма за контакт: Начин за връзка - имейл или телефон</p>


</div>