@model _3dhi.Models.ViewModels.ContactUsMessageViewModel
@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1 class="ContactUs">Контакти</h1>

</div>
<div class="text-left">

    <p>Свържете се с нас:</p>
    <p>Телефон: 0876691191.</p>
    <p>Имейл: example@gmail.com.</p>

</div>
<form>
    <div>
        <p>Или ни оставете съобщение и ние ще Ви отговорим:</p>
        <input class="input-form" asp-for="SenderName" placeholder ="Име"/>
    </div>
    <div>
        <input class="input-form" asp-for="Email" placeholder="Имейл" />
    </div>
    <div>
        <input class="input-form" asp-for="PhoneNumber" placeholder="Телефонен номер" />
    </div>
    <div>
        <textarea class="input-form" asp-for="Message" rows="6" placeholder="Напиши съобщение">        </textarea>
    </div>
</form>
<button class="SendMessage">Изпрати</button>

<link rel="stylesheet" href="/css/Contacts.css">