@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3  class="display-4">Добре дошли</h3>
    <h1>на сайта на 3D Home Invest Ltd.</h1>

</div>

<body>
    <p class="planning">В началото заглавната страница няма да е активна. По подразбиране ще се отваря "Настаняване"</p>
</body>

<link rel="stylesheet" href="/css/Administration.css">