@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>на сайта на 3D Home Invest Ltd.</p>

</div>

<div class="text-left">
    
    
    
   <br>
   <br>
   <br>

    Информация за дейността на фирмата. Предлагани услуги. 

    
    <br>Текст текст текст Текст текст текст
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>




</div>
