@using _3dhi.Models.ViewModels;
@{
    ViewData["Title"] = "Real Estates";
}
@model RealEstatesViewModel;

<div class="text-center">
    <h1 class="display-4">Покупко - продажба на недвижими имоти</h1>
    <p>Тук ще се публикуват имоти, които се продават, с описание и снимки</p>


</div>
<div class="text-left">
   




</div>
