@using _3dhi.Models.ViewModels;
@{
    ViewData["Title"] = "Real Estates";
}
@model RealEstatesViewModel;

<div class="text-center">
    <h1 class="display-4">Покупко - продажба на недвижими имоти</h1>
    <p class="planning>Тази част от сайта временно ще бъде преустановена. Продължавам с реализацията единствено на букинг системата, 
        до приключването на проект, който да представям при търсене на работа. Впоследствие ще бъде развита и тази част.</p>

    @if (this.User.IsInRole("Admin"))
    {
        <button>Добави имот</button>
    }


</div>
<div class="text-left">
</div>
<link rel="stylesheet" href="/css/Administration.css">
