@{
    ViewData["Title"] = "Real Estates";
}

<div class="text-center">
    <h1 class="display-4">Покупко - продажба на недвижими имоти</h1>
    <p>Тук ще се публикуват имоти, които се продават, с описание и снимки</p>


</div>
<div class="text-left">
    
   <br>
   <br>
   <br>
   Списък с имоти, подреден по подразбиране. Възможност за филтриране и сортиране по различни критерии. 
   <br>
   <br>
   <br>


</div>
