@{
    ViewData["Title"] = "Real Estates";
}

<div class="text-center">
    <h1 class="display-4">Покупко - продажба на недвижими имоти</h1>
    <p>Тук ще се публикуват имоти, които се продават, с описание и снимки</a>.</p>
</div>
