@{
    ViewData["Title"] = "Management";
}

<div class="text-center">
    <h1 class="display-4">Управление</h1>
    <p>Тук ще има форма за логване на собственици, след което ще получат достъп до статистика за приходи, разходи и печалби от апартаментите си</a>.</p>

                <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/Identity/Account/Login';return false;" >Login</button>
            <button  type="button" class="btn btn-primary btn-sm" onclick="location.href='/Identity/Account/Register';return false;" >Register</button>



</div>
