@{
    ViewData["Title"] = "Management";
}

<div class="text-center">
    <h1 class="display-4">Управление</h1>
    <p class="planning">
        От тази част на сайта, посетителите ще могат да управляват публикациите си - да добавят нови, да редактират и да трият.
        Нелогнатите въобще няма да виждат линка.
    </p>

</div>
<link rel="stylesheet" href="./css/Administration.css"></link>
