@{
    ViewData["Title"] = "Management";
}

<div class="text-center">
    <h1 class="display-4">Управление</h1>
    <p>Тук ще има фирма за логване на собственици, след което ще получат достъп до статистика за приходи, разходи и печалби от апартаментите си</a>.</p>
</div>
