@{
    ViewData["Title"] = "Stay";
}

<div class="text-center">
    <h1 class="display-4">Настаняване</h1>
    <p>Тук ще можете да потърсите апартамент за настаняване, удовлетворяващ изискванията Ви!</a>.</p>
</div>
