@{
    ViewData["Title"] = "Stay";
}

<div class="text-center">
    <h1 class="display-4">Настаняване</h1>
    <p>Тук ще можете да потърсите апартамент за настаняване, удовлетворяващ изискванията Ви!</p>
    <br>
    <br>
    <br>
    <p>Форма за търсене - дата от | дата до | брой възрастни | брой деца | филтър за цена</p>
    <br>
    <br>
    <p>Обяви, сортирани по подразбиране</p>
    <br>
    <br>
    <br>

</div>
