@{
    ViewData["Title"] = "Stay";
}

<div class="text-center">
    <h1 class="display-4">Настаняване</h1>
    <p class="planning">
        Тук директно ще се отваря списък с публикувани обяви, които ще се виждат както от регистрирани,
        така и от нерегистрирани посетители. Обявите могат да се отварят, да се разглеждат, да се проверява заетост.
        За извършване на резервация посетителя трябва да е задължително логнат
    </p>

    @if (this.User.Identity.IsAuthenticated)
    {
    <button class="button-stay">Добави имот</button>
    }


</div>

<link rel="stylesheet" href="/css/Administration.css">